<body>
    <div id="content max-width:1600px margin: 0 auto">
        <header>
    . . .nav a
         #hero-msg h1, #hero-msg h4
         .button-box
         main section
         </footer>
         #background {
            height: 725px;
        }   
        .logo {
            width: 80px;
        } 
        .icon {
            width: 80px;
        }
        #hero-img {
            width: 100px
        }
    </div>
</body>