<body>
    <div id="content" max-width:1600px; margin: 0 auto; >
         <header>
             nav a  {
                      text-align: center;
                      background-color: #00a3cc;
                      color: #A25;
                      text-decoration: none;
                   }
             #hero-msg {
                  text-align: center;
                  }
             h1  { 
                    text-align: center;
                }       
                 #hero-msg  {
                    text-align: center}
            h4 {
                text_align: center;
            }
             .button-box  { 
                    text-align: center;}
             main section { 
                    text-align: center}
         </footer>
    </div>     
</body>         
<div>
     <section class="rapids-card">
                 <img class="card-img" src="images/rapids.jpg" alt="rafting boat">
                 <img class="icon" src="images/oars.png" alt="oars icon">
                 <h2>Rapids</h2>
    </section>
    <div id="background
                 #background {
                   height: 725px;
                 }
             "></div> 
             <img class="mountains" src="images/mountains.jpg" alt="Misty mountains">
             <section class="msg">
                 <h2>More Than Just The Thrill</h2>
                 <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors. </p>
                 <a class='join' href="rivers.html">Join Us</a>
             </section>
         </div>
         body  {
                 background-color: #1e9926; 
               }
        header {
                 background-color: #00a3cc;
               }       
        nav a:hover {
                      background-color: #00a3cc;
                      color: #A25
                    }
        .book {
            text-align: center;
            color: #A25a18;
            text-decoration: none
        }            
        .book:hover {
                      background-color: #00a3cc
                     }  
        .join {
                 text-align: center;
                 color:#00313d;
                text-decoration: none;
             }     
        .join:hover {
                      background-color: #00a3cc; ;
                      color: #A25a18
                    }    
        #background {
                        background-color: #A25a18
                     }
        .msg {
                   background-color: #A25a18
             }
        footer {
                 background-color: #A25;
                 color: #00313d;
               }     
        .home-title {
                       color: #3d0038;
                   }
        h4  {
              color: #00313d;
              text-align: center
            }
        .msg h2 {
                  color: #391e99;
                }
        .msg  {
                  color: #391e99;
              }
        footer a  {
                    text-align: center;
                    color: #1821a2;
                    text-decoration: none;
                  }
        footer a:hover {
                          color: #991e57
                       }
        footer p {
            font-size: 1.2em;
            }    
        footer p a:hover {
            text-decoration: underline;
        }
        .logo {
                 width: 80px;
              } 
        .icon {
                 width: 80px;
               }
        #hero-img {
            width: 100%;
        }
        #mountains-msSg {
           text-align: center;
        }
    </div>
